.btn {
    margin-right: 5px;
}

.markedAsDone{
    text-decoration: line-through;
    color: #777
}

.tableActions {
    width: 105px;
}

.todoForm, .customerForm{
    padding-bottom: 60px;
}

.wrapper-grid{
    padding-top: 10px;
    padding-bottom: 10px;
}